@inject CoreAppBook.Repository.IBookRepository _bookRepository;
@inject Microsoft.Extensions.Configuration.IConfiguration _configuration;

<section class="py-5 jumbotron text-center" style="background-color:gray;">
    <div class="container">
        <h1> Welcome to Book Store</h1>
        <p class="lead">
            asdf asldfja sfd asdfkjsdf
        </p>
        <p>
            <a href="#" class="btn btn-primary">Search Books</a>
        </p>
    </div>
</section>
<div class="py-5 bg-light">

    <div class="container">
        <div class="row">
            <h1>Top Books</h1>
            @foreach (var book in await _bookRepository.GetTopBooks( _configuration.GetValue<int>("TopBookCount")))
            {
                <div class="col-md-4">
                    <partial name="_BookCard" model="@book" />
                </div>

            }


        </div>

    </div>

</div>
