@model IEnumerable<CoreAppBook.Models.BookModel>

@{
    ViewData["Title"] = "GetAllBooks";
}

<div class="container">
    <h3>All Books</h3>
    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-md-4">
                <partial name="_BookCard" model="@book" />
            </div>
        }
    </div>

</div>
